
@import "/build/scss/variables";

.font-color-tertiary {
  color: $font-color-tertiary;
}

.bg-white {
  background-color: $color-base-surface;
}

.expansion-panel-header {
  padding: 6px 12px;
}

.panel-title {
  display: block;
}

.panel-subtitle {
  color: $color-base-brand-primary;
}

.mat-button-toggle-group {
  width: 100%;
}

.mat-button-toggle {
  width: 100%;
}

.button-label {
  min-height: 20px;
  line-height: $typography-button-label-1-line-height;
  letter-spacing: $typography-button-label-1-letter-spacing;
  text-transform: $typography-button-label-1-text-transform;
}

::ng-deep .font-select .mat-form-field-wrapper {
  background-color: #fff !important;
}

::ng-deep mat-form-field mat-label{
  font-size: 14px !important;
}

::ng-deep .mat-select-panel-wrap {
  margin-top: 40px !important;
  margin-left: 4px !important;
}

::ng-deep .mat-select-panel .mat-option {
  padding: 8px 12px !important;
  line-height: 40px !important;
  height: 40px !important;
}

::ng-deep .mat-select-panel {
  min-width: calc(100% + 28px) !important;
  max-height: 320px !important;
  box-shadow: $box-shadow-low !important;
}
