<div
  class="mt-6 mb-6">
  <div
  class="grid grid-nogutter">
    <div
      class="col-4 pr-5">


        <mat-form-field appearance="fill" class="font-select full-width">
          <mat-label>
            Headings
          </mat-label>
          <mat-select
            [(value)]="selectedHeadingFont"
            disableOptionCentering>
              <mat-option
                [value]="option.value"
                *ngFor="let option of fonts">
                  {{ option.viewValue }}
              </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class="font-select full-width">
          <mat-label>
            Body, Subtitle, Captions & Buttons Font
          </mat-label>
          <mat-select
            [(value)]="selectedBodyFont"
            disableOptionCentering
            panelClass="myPanelClass">
              <mat-option
                [value]="option.value"
                *ngFor="let option of fonts">
                  {{ option.viewValue }}
              </mat-option>
          </mat-select>
        </mat-form-field>
      <div
        class="mb-7">
          <geo-file-upload-form
          [isUploading]="false"
          [fileDetails]="false"
          [shape]="'square'"
          [height]="'135px'"
          [accept]="'*'"
          [title]="'Upload Custom Font'"
          [description]="'Accepted Font Format: .ttf, .otf or .woff'"
          [objectFit]="'cover'"
          [iconClass]="'uil-upload'">
        </geo-file-upload-form>
      </div>
      <div>
        <h6>
          Choose Baseline Font Size
        </h6>
        <p
          class="font-size-small font-color-tertiary mb-4">
          The baseline font size controls the size of all of the font styles, which are calculated automatically by multiplying the base size.
        </p>
        <mat-button-toggle-group
          name="options"
          aria-label="Options"
          class="mat-button-group-width"
          (change)="onBaselineFontValChange($event.value)">
            <mat-button-toggle
              class="selection-button bg-white"
              value="12">
              <span class="font-size-medium fw-900 ml-3 mr-3">12 px</span>
            </mat-button-toggle>
            <mat-button-toggle
              class="selection-button bg-white"
              value="14">
                <span class="font-size-medium fw-900 ml-3 mr-3">14 px</span>
            </mat-button-toggle>
            <mat-button-toggle
              class="selection-button bg-white"
              value="16">
                <span class="font-size-medium fw-900 ml-3 mr-3">16 px</span>
            </mat-button-toggle>
            <mat-button-toggle
              class="selection-button bg-white"
              value="18">
                <span class="font-size-medium fw-900 ml-3 mr-3">18 px</span>
            </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>
    <div class="col-8">
      <div class="bg-white p-5">
        <div class="mb-7">
          <div>
            <p
              class="font-size-medium">
                Headings
            </p>
            <div class="divider"></div>
          </div>
          <div>
            <div
              *ngFor="let typography of headings">
              <div class="mb-5">
                <h1
                  class="mb-1"
                  [style.font-size.px]="(baselineFontSize * typography.fontMultiplier)"
                  [style.fontFamily]="selectedHeadingFont">
                    {{ typography.title }}
                </h1>
                <p
                  class="font-size-small font-color-tertiary">
                    {{ selectedHeadingFont }} | {{ baselineFontSize * typography.fontMultiplier }}px
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="mb-7">
          <div>
            <p
              class="font-size-medium">
                Subtitles
            </p>
            <div class="divider"></div>
          </div>
          <div class="grid mt-3">
            <div
              class="col col-4 mb-5"
              *ngFor="let typography of subtitles">
                <p
                  class="mb-1"
                  [style.font-size.px]="(baselineFontSize * typography.fontMultiplier)"
                  [style.fontFamily]="selectedBodyFont"
                  [style.fontWeight]="typography.fontWeight"
                  [style.textDecoration]="typography.textDecoration">
                    {{ typography.title }}
                </p>
                <p
                  class="font-size-small font-color-tertiary">
                    {{ selectedBodyFont }} | {{ baselineFontSize * typography.fontMultiplier }}px
                </p>
            </div>
          </div>
        </div>
        <div class="mb-7">
          <div>
            <p
              class="font-size-medium">
                Paragraph 1
            </p>
            <div class="divider"></div>
          </div>
          <div class="grid mt-3">
            <div
              class="col col-4 mb-5"
              *ngFor="let typography of paragraph_1">
                <p
                  class="mb-1"
                  [style.font-size.px]="(baselineFontSize * typography.fontMultiplier)"
                  [style.fontFamily]="selectedBodyFont"
                  [style.fontWeight]="typography.fontWeight"
                  [style.textDecoration]="typography.textDecoration">
                    {{ typography.title }}
                </p>
                <p
                  class="font-size-small font-color-tertiary">
                    {{ selectedBodyFont }} | {{ baselineFontSize * typography.fontMultiplier }}px
                </p>
            </div>
          </div>
        </div>
        <div class="mb-7">
          <div>
            <p
              class="font-size-medium">
                Paragraph 2
            </p>
            <div class="divider"></div>
          </div>
          <div class="grid mt-3">
            <div
              class="col col-4 mb-5"
              *ngFor="let typography of paragraph_2">
                <p
                  class="mb-1"
                  [style.font-size.px]="(baselineFontSize * typography.fontMultiplier)"
                  [style.fontFamily]="selectedBodyFont"
                  [style.fontWeight]="typography.fontWeight"
                  [style.textDecoration]="typography.textDecoration">
                    {{ typography.title }}
                </p>
                <p
                  class="font-size-small font-color-tertiary">
                    {{ selectedBodyFont }} | {{ baselineFontSize * typography.fontMultiplier }}px
                </p>
            </div>
          </div>
        </div>
        <div class="mb-7">
          <div>
            <p
              class="font-size-medium">
                Captions
            </p>
            <div class="divider"></div>
          </div>
          <div class="grid mt-3">
            <div
              class="col col-4 mb-5"
              *ngFor="let typography of captions">
                <p
                  class="mb-1"
                  [style.font-size.px]="(baselineFontSize * typography.fontMultiplier)"
                  [style.fontFamily]="selectedBodyFont"
                  [style.fontWeight]="typography.fontWeight"
                  [style.textDecoration]="typography.textDecoration">
                    {{ typography.title }}
                </p>
                <p
                  class="font-size-small font-color-tertiary">
                    {{ selectedBodyFont }} | {{ baselineFontSize * typography.fontMultiplier }}px
                </p>
            </div>
          </div>
        </div>
        <div>
          <div>
            <p
              class="font-size-medium">
                Button Labels
            </p>
            <div class="divider"></div>
          </div>
          <div class="grid mt-3">
            <div
              class="col col-4 mb-5"
              *ngFor="let typography of buttons">
                <p
                  class="button-label mb-1"
                  [style.font-size.px]="(baselineFontSize * typography.fontMultiplier)"
                  [style.fontFamily]="selectedBodyFont"
                  [style.fontWeight]="typography.fontWeight"
                  [style.textDecoration]="typography.textDecoration">
                    {{ typography.title }}
                </p>
                <p
                  class="font-size-small font-color-tertiary">
                    {{ selectedBodyFont }} | {{ baselineFontSize * typography.fontMultiplier }}px
                </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
