@import "/build/scss/variables";

// Card
.color-card {
  border-radius: 4px;
  padding: 12px;
}

.color-card > div {
  display: flex;
}

.color-text {
  flex-grow: 1;
}

.font-color-base {
  color: $font-color-base;
}

.font-color-secondary {
  color: $font-color-secondary;
}

.font-color-tertiary {
  color: $font-color-tertiary;
}

.dot {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid $color-background-default;
}

.mat-table {
  border-radius: 4px;
  overflow: hidden !important;
}

.mat-cell:first-of-type,
.mat-header-cell:first-of-type {
  padding-left: 50px !important;
  width: 100px;
}

.mat-cell,
.mat-header-cell {
  width: 200px;
}

.mat-row:hover .mat-cell{
  background-color: white !important;
}

.mat-row .mat-cell{
  border-top: 2px solid $color-background-default !important;
}
