<div class="mb-7">
  <div class="div-flex mb-3">
    <h2 class="div-flex-grow">
      Design Tokens Generator
    </h2>
    <button
      mat-stroked-button>
        <i class="uil-file-upload"></i>
        <span
          class="ml-2">
            Import figma tokens json
        </span>
    </button>
    <button
      mat-flat-button
      (click)="openDialog()"
      class="ml-3">
        <i class="uil-file-download"></i>
        <span
          class="ml-2">
            Download design tokens
        </span>
    </button>
  </div>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tortor tortor, porttitor cursus commodo sit amet, feugiat sit amet erat. Donec dignissim vulputate mollis. Donec ac lacus id sem vehicula rutrum in bibendum leo. Maecenas commodo luctus feugiat. Cras condimentum libero odio, et cursus ex aliquam.
  </p>
</div>
