<div
  class="container">
    <div class="mt-7 mb-7">
      <h2 class="mb-3">
        Design Tokens Generator
      </h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tortor tortor, porttitor cursus commodo sit amet, feugiat sit amet erat. Donec dignissim vulputate mollis. Donec ac lacus id sem vehicula rutrum in bibendum leo. Maecenas commodo luctus feugiat. Cras condimentum libero odio, et cursus ex aliquam.
      </p>
    </div>
    <mat-tab-group
      class="uppercase-tabs"
      animationDuration="0ms">
        <mat-tab label="Colors">
          <div
            class="mt-6 mb-6">
            <div
            class="mb-6">
            <div
              class="mb-2">
                <h6>
                  Main Brand Colors
                </h6>
                <p
                  class="font-size-small color-font-tertiary">
                    Click on a color to change it
                </p>
            </div>
            <div
              class="grid">
                <div
                  *ngFor="let color of mainBrandColors"
                  class="col col-3 pl-1 pr-1">
                    <app-colorpicker
                      hex="{{ color.hex }}"
                      title="{{ color.title }}"
                      designToken="{{ color.designToken }}">
                    </app-colorpicker>
                </div>
            </div>
            </div>
            <div
            class="mb-6">
            <div
              class="mb-2">
                <h6>
                  Surface Colors
                </h6>
                <p
                  class="font-size-small color-font-tertiary">
                    Click on a color to change it
                </p>
            </div>
            <div
              class="grid">
                <div
                  *ngFor="let color of surfaceColors"
                  class="col col-3 pl-1 pr-1">
                    <app-colorpicker
                      hex="{{ color.hex }}"
                      title="{{ color.title }}"
                      designToken="{{ color.designToken }}">
                    </app-colorpicker>
                </div>
            </div>
            </div>
            <div
            class="mb-6">
            <div
              class="mb-2">
                <h6>
                  Contextual Colors
                </h6>
                <p
                class="font-size-small color-font-tertiary">
                    Click on a color to change it
                </p>
            </div>
            <div
              class="grid">
                <div
                  *ngFor="let color of contextualColors"
                  class="col col-3 pl-1 pr-1">
                    <app-colorpicker
                      hex="{{ color.hex }}"
                      title="{{ color.title }}"
                      designToken="{{ color.designToken }}">
                    </app-colorpicker>
                </div>
            </div>
            </div>
            <div
            class="mb-6">
            <div
              class="mb-2">
                <h6>
                  Data Visualization
                </h6>
                <p
                class="font-size-small color-font-tertiary">
                    Click on a color to change it
                </p>
            </div>
            <div
              class="grid">
                <div
                  *ngFor="let color of dataVisualizationColors"
                  class="col col-3 mb-2 pl-1 pr-1">
                    <app-colorpicker
                      hex="{{ color.hex }}"
                      title="{{ color.title }}"
                      designToken="{{ color.designToken }}">
                    </app-colorpicker>
                </div>
            </div>
            </div>
            <h5>
              Generated Color Tokens
            </h5>
            <div>
              <h6>
                Background Colors
              </h6>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Typography">
        </mat-tab>
        <mat-tab label="Interface">
        </mat-tab>
    </mat-tab-group>
</div>

