<div
  class="mt-6 mb-6">
    <div class="mb-7">
      <div class="grid">
        <div class="col col-fixed" style="width: 300px;">
          <h6>
            Shadows
          </h6>
          <p
            class="font-size-small text-color-neutral mb-4">
            Enable or disable shadows globally to give the platform more three dimensionality or a flatter look.
          </p>
          <mat-button-toggle-group
            name="options"
            aria-label="Options"
            class="mat-button-group-width"
            (change)="onBoxShadowValChange($event.value)">
              <mat-button-toggle
                class="selection-button bg-white"
                value="enable">
                  <span
                    class="font-size-medium fw-900 ml-4 mr-4">
                      Enable
                  </span>
              </mat-button-toggle>
              <mat-button-toggle
                class="selection-button bg-white"
                value="disable">
                  <span class="font-size-medium fw-900 ml-4 mr-4">
                    Disable
                </span>
              </mat-button-toggle>
          </mat-button-toggle-group>
        </div>
        <div class="col pl-6">
          <mat-card class="p-4">
            <div class="bg-color-background p-4">
              <p class="mb-4 font-size-medium fw-900">
                Shadows Preview
              </p>
              <div class="grid">
                <div class="col">
                  <div
                    class="p-4 pb-9 mb-6 bg-color-surface border-radius-interface"
                    [style.boxShadow]="boxShadow === 'enable' ? lowBoxShadow : 'none'">
                      <p class="fw-900">
                        Low Elevation
                      </p>
                  </div>
                </div>
                <div class="col">
                  <div
                    class="p-4 pb-9 mb-6 bg-color-surface border-radius-interface"
                    [style.boxShadow]="boxShadow === 'enable' ? mediumBoxShadow : 'none'">
                      <p class="fw-900">
                      Medium Elevation
                      </p>
                    </div>
                </div>
                <div class="col">
                  <div
                    class="p-4 pb-9 mb-6 bg-color-surface border-radius-interface"
                    [style.boxShadow]="boxShadow === 'enable' ? highBoxShadow : 'none'">
                      <p class="fw-900">
                        High Elevation
                      </p>
                  </div>
                </div>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
    <div>
      <h6 class="mb-3">
        Corner Radius
      </h6>
      <div class="mb-7">
        <div class="grid">
          <div class="col col-fixed" style="width: 300px;">
            <p
              class="font-size-medium fw-900">
                Interface Cards
            </p>
            <p
              class="border-radius-card-description font-size-small text-color-neutral mb-4">
                Controls the border radius for interface elements such as Project cards and other card-like elements.
            </p>
            <div class="slider-field">
              <ngx-slider
                [options]="selectionSlider"
                [(value)]="sliderValueInterfaceCard"
                (userChange)="onSliderValChange1($event.value)">
              </ngx-slider>
              <mat-error>Error message here</mat-error>
            </div>
          </div>
          <div class="col pl-6">
            <mat-card class="p-4">
              <div class="bg-color-background p-4">
                <p class="mb-4 font-size-medium fw-900">
                  Interface Cards Preview
                </p>
                <div class="grid">
                  <div class="col">
                    <div
                      class="p-4 pb-9 mb-6 bg-color-surface"
                      [ngStyle]="{'border-radius': sliderValueInterfaceCard + 'px'}">
                        <p class="font-size-medium fw-900">
                          {{ 'Business planning - 2022' | uppercase }}
                        </p>
                        <p class="font-size-small">
                          01 Oct 2022
                        </p>
                    </div>
                  </div>
                  <div class="col">
                    <div
                      class="p-4 pb-9 mb-6 bg-color-surface"
                      [ngStyle]="{'border-radius': sliderValueInterfaceCard + 'px'}">
                        <p class="font-size-medium fw-900">
                          {{ 'Business planning - 2022' | uppercase }}
                        </p>
                        <p class="font-size-small">
                          01 Oct 2022
                        </p>
                    </div>
                  </div>
                </div>
              </div>
            </mat-card>
          </div>
        </div>
      </div>
      <div class="mb-7">
        <div class="grid">
          <div class="col col-fixed" style="width: 300px;">
            <p
              class="font-size-medium fw-900">
                Buttons
            </p>
            <p
              class="border-radius-card-description font-size-small text-color-neutral mb-4">
                Buttons Controls the border radius for buttons.
            </p>
            <div class="slider-field">
              <ngx-slider
                [options]="selectionSlider"
                [(value)]="sliderValueButton"
                (userChange)="onSliderValChange2($event.value)">
              </ngx-slider>
              <mat-error>Error message here</mat-error>
            </div>
          </div>
          <div class="col pl-6">
            <mat-card class="p-4">
              <div class="bg-color-background p-4">
                <p class="mb-4 font-size-medium fw-900">
                  Button Radius Preview
                </p>
                <div class="mb-4 display-flex align-items-center">
                  <button
                    class="mat-button mat-flat-button mr-4 button-large"
                    [ngStyle]="{'border-radius': sliderValueButton + 'px'}">
                      <span class="mat-button-wrapper">Button</span>
                      <span matRipple class="mat-ripple mat-button-ripple"></span>
                      <span class="mat-button-focus-overlay"></span>
                  </button>
                  <button
                    class="mat-button mat-flat-button mr-4 button-big"
                    [ngStyle]="{'border-radius': sliderValueButton + 'px'}">
                      <span class="mat-button-wrapper">Button</span>
                      <span matRipple class="mat-ripple mat-button-ripple"></span>
                      <span class="mat-button-focus-overlay"></span>
                  </button>
                  <button
                    class="mat-button mat-flat-button mr-4"
                    [ngStyle]="{'border-radius': sliderValueButton + 'px'}">
                      <span class="mat-button-wrapper">Button</span>
                      <span matRipple class="mat-ripple mat-button-ripple"></span>
                      <span class="mat-button-focus-overlay"></span>
                  </button>
                  <button
                    class="mat-button mat-flat-button mr-4 button-small"
                    [ngStyle]="{'border-radius': sliderValueButton + 'px'}">
                      <span class="mat-button-wrapper">Button</span>
                      <span matRipple class="mat-ripple mat-button-ripple"></span>
                      <span class="mat-button-focus-overlay"></span>
                  </button>
                </div>
                <div class="mb-4 display-flex align-items-center">
                  <button
                    class="mat-button mat-flat-button mr-4 button-large icon-only"
                    [ngStyle]="{'border-radius': sliderValueButton + 'px'}">
                      <span class="mat-button-wrapper">
                        <i class="uil uil-home"></i>
                      </span>
                      <span matRipple class="mat-ripple mat-button-ripple"></span>
                      <span class="mat-button-focus-overlay"></span>
                  </button>
                  <button
                    class="mat-button mat-flat-button mr-4 button-big icon-only"
                    [ngStyle]="{'border-radius': sliderValueButton + 'px'}">
                      <span class="mat-button-wrapper">
                        <i class="uil uil-home"></i>
                      </span>
                      <span matRipple class="mat-ripple mat-button-ripple"></span>
                      <span class="mat-button-focus-overlay"></span>
                  </button>
                  <button
                    class="mat-button mat-flat-button mr-4 icon-only"
                    [ngStyle]="{'border-radius': sliderValueButton + 'px'}">
                      <span class="mat-button-wrapper">
                        <i class="uil uil-home"></i>
                      </span>
                      <span matRipple class="mat-ripple mat-button-ripple"></span>
                      <span class="mat-button-focus-overlay"></span>
                  </button>
                  <button
                    class="mat-button mat-flat-button mr-4 button-small icon-only"
                    [ngStyle]="{'border-radius': sliderValueButton + 'px'}">
                      <span class="mat-button-wrapper">
                        <i class="uil uil-home"></i>
                      </span>
                      <span matRipple class="mat-ripple mat-button-ripple"></span>
                      <span class="mat-button-focus-overlay"></span>
                  </button>
                </div>
              </div>
            </mat-card>
          </div>
        </div>
      </div>
      <div class="mb-7">
        <div class="grid">
          <div class="col col-fixed" style="width: 300px;">
            <p
              class="font-size-medium fw-900">
                Inputs
            </p>
            <p
              class="border-radius-card-description font-size-small text-color-neutral mb-4">
                Inputs Controls the border radius for input fields.
            </p>
            <div class="slider-field">
              <ngx-slider
                [options]="selectionSlider"
                [(value)]="sliderValueInput"
                (userChange)="onSliderValChange3($event.value)">
              </ngx-slider>
              <mat-error>Error message here</mat-error>
            </div>
          </div>
          <div class="col pl-6">
            <mat-card class="p-4">
                <p class="mb-4 font-size-medium fw-900">
                  Input Radius Preview
                </p>
                <div
                  class="bg-color-surface-nested overflow-hidden full-width mb-4"
                  [ngStyle]="{'border-radius': sliderValueInput + 'px'}">
                  <mat-form-field
                    class="pb-0">
                      <mat-label>Label</mat-label>
                      <input matInput>
                  </mat-form-field>
                </div>
                <div class="display-flex align-items-center mb-4">
                  <div
                    class="bg-color-surface-nested overflow-hidden full-width mr-2"
                    [ngStyle]="{'border-radius': sliderValueInput + 'px'}">
                      <mat-form-field
                        class="pb-0">
                          <mat-label>Label</mat-label>
                          <input matInput>
                    </mat-form-field>
                  </div>
                  <div
                    class="bg-color-surface-nested overflow-hidden full-width ml-2"
                    [ngStyle]="{'border-radius': sliderValueInput + 'px'}">
                      <mat-form-field
                        class="pb-0">
                          <mat-label>Label</mat-label>
                          <input matInput>
                    </mat-form-field>
                  </div>
                </div>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
</div>
